
*{
    user-select: none;
}
.shoppingCart-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolds;
    margin-bottom: 20px;
}

.left {

    align-items: end;
}

.showcase-content i {
    float: right;
}

.CheckoutList {
    float: right;

}

.checkbox {
    width: 20px;
}


.red {
    color: crimson;
}

.zoom:hover {
    transform: scale(1.5);
}

.d-flex {
    width: 100vw;
    justify-content: center;
    
}

.button_V{
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #ffffff;
    --button_outline_color: #057209;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.3em);
    transition: transform 0.1s ease;
    
  }
  
  
  }
  .button_V:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(0);
    /* --button_color: #057209;
    color:#e8e8e8; */
  }
  

   .showcase:hover{
    border-color:var(--eerie-black);
}
.quantity {
    width: 150px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    /* margin: auto; */
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  
  .quantity label {
    width: 33%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #47484b;
    margin: auto;
  }
  #bold{
    font-weight: bold;
  }
  .quantity input::-webkit-outer-spin-button,
        .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            user-select: none;
   }

  .quantity button {
    width: 33%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-bottom: 2px;
    margin: auto;
  }
  
  .quantity button:hover {
    scale: 1.5;
  }