.product {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    margin: 10px;
    
    .product-img-box {
        border-radius: 10px;
        grid-area: 1 / 1/ 1 / 1;
        
    }

    .product-content {
        
        margin-left: 10px;
        padding: 20px;
        border-style: solid;
        border-color: var(--eerie-black);
        border-radius: 10px;
        grid-area: 1 /2/1/2;

        a:visited {color:var(--eerie-black);}
    }

    .product-content-button{
        margin: 5px;
        margin-top: 30px;
        padding: 10px;
        display: inline;
        background-color: white;
        border-radius: 5px;
        border-style: solid;
        border-color: var(--eerie-black);
        
    }
    .product-content-button:hover{
        border-color: var(--ocean-green);
    }
}

.quantity {
    width: 150px;
    height: 30px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  
.quantity label {
    width: 33%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight: 700;
    color: #47484b;
    margin: auto;
  }
  
.quantity button {
    width: 33%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-bottom: 2px;
    margin: auto;
  }

  .quantity button:hover{
    scale: 1.5;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

  }
