.shoppingCart-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolds;
    margin-bottom: 20px;
}

.left {

    align-items: end;
}

.showcase-content i {
    float: right;
}

.CheckoutList {
    float: right;

}

.checkbox {
    width: 20px;
}


.red {
    color: crimson;
}

.zoom:hover {
    transform: scale(1.5);
}

.d-flex {
    width: 100vw;
    justify-content: center;
    
}

.button_V{
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #ffffff;
    --button_outline_color: #057209;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.3em);
    transition: transform 0.1s ease;
    
  }
  
  
  }
  .button_V:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(0);
    /* --button_color: #057209;
    color:#e8e8e8; */
  }
  

   .showcase:hover{
    border-color:var(--eerie-black);
}
