*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width:80px ;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}


.sidebar.active ~ .main-content{
    left:250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}


.sidebar #btn{
    position: absolute;
    color:#fff;
    top: .4rem;
    left:50%;
    font-size:1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor:pointer;
}

.sidebar.active #btn{
    left:90%
}


.sidebar .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;

}


.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
}

.sidebar ul li a {
    color:#fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius:0.8rem;
} 


.sidebar ul li a.normal:hover{
    background-color: #fff;
    color:black;
    
}
.sidebar ul li a.logout:hover{
    background-color: #fff;
    color:red;
    
}


.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}


.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}


.main-content{
    position:relative;
    background-color: #eee;
    min-height: 100vh;
    top:0;
    left:80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}























