textarea {
    width: 100%;
}

#part_image_preview{
    width: 250px;; 
    height:auto; 
    margin-top:10px; 
    border-radius:5px; 
    border:1px solid lightgray; 
    display:none;
}

.product {
    margin: 10px;
    
    .product-img-box {
        border-radius: 10px;
        grid-area: 1 / 1/ 1 / 1;
        
    }

    .product-content {
        
        margin-left: 10px;
        padding: 20px;
        border-style: solid;
        border-color: var(--eerie-black);
        border-radius: 10px;
        grid-area: 1 /2/1/2;

        a:visited {color:var(--eerie-black);}
    }

    .product-content-button{
        margin: 5px;
        margin-top: 30px;
        padding: 10px;
        display: inline;
        background-color: white;
        border-radius: 5px;
        border-style: solid;
        border-color: var(--eerie-black);
        
    }
    .product-content-button:hover{
        border-color: var(--ocean-green);
    }
}