#menu-title-current{
    color:var(--salmon-pink);
}


.showcase:hover{
    border-color:var(--eerie-black);
}

.edit , .delete, .report{
    display: flex;
    flex-direction: row;
    padding: 10px;
    float: right;
}

.button{
    margin: 5px;
    margin-right: 30px;
    padding: 10px;
    display: inline;
    float: right;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--eerie-black);
    
}
.button:hover{
    border-color: var(--salmon-pink);
}

#id_confrmdiv
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#id_confrmdiv button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

#id_confrmdiv .button:hover
{
    background-color: #ddd;
}

#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}

.product-minimal > #editDiv{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#editDiv #part_description {
    width: 100%;
}

#part_image_preview{
    width: 250px;
    height: 250px;; 
    margin-top:10px; 
    border-radius:5px; 
    border:1px solid lightgray; 
    display:none;
}